@import "../../css/colors.css";

.container {
    width: 100%;
}
.waveform-path {
    /*
        This color is lighter than sound-primary, but
        cannot use alpha because of overlapping elements.
    */
    fill: #e5ac88;
    stroke: $looks-secondary;
}
.baseline {
    stroke: $looks-secondary;
}
